<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <title>Form Add Pasien to Faskes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body style="font-family: Poppins;">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Pasien Faskes</h2>
                <br>
                <form th:object="${pasien}" method="POST">
                <form>
                    Pasien <br>
                    <select name="pasien" class="form-control">
                        <option
                            th:each="pasien : ${listPasien}"
                            th:value="${pasien.idPasien}"
                            th:text="${pasien.namaPasien}"
                            name="pasien"
                        >
                        </option>
                    </select>
                    <br><br>

                    Dokter <br>
                    <select name="dokter" class="form-control" >
                        <option th:each="dokter : ${listDokter}" th:value="${dokter.idDokter}" th:text="${dokter.namaDokter}">
                        </option>
                    </select>
                    <br><br>

                    Waktu Suntik <br>
                    <input required class="form-control" type="datetime-local" name="waktuSuntik" />
                    <br><br>

                    <a class="btn btn-primary" th:href="@{/}">Batal</a>
                    <button class="btn btn-primary" type="submit">Tambah</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
<nav th:replace="fragments/fragment :: footer"></nav>
<br><br><br><br>
</html>