<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <title> Home </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
            crossorigin="anonymous"
    ></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style>
        #centered {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body style="font-family: Poppins;">
<nav th:replace="fragments/fragment :: navbar"></nav>
<button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
>
    <span class="navbar-toggler-icon"></span>
</button>

<div class="d-flex justify-content-center" id="centered">
    <div class="m-4">
        <h1>Selamat datang di SIVAKSIN!</h1>
        <br>
        <h6 class="d-flex justify-content-center">Daftar Fitur:</h6>
        <div class="d-flex justify-content-center">
            <a th:href="@{/faskes}" class = "mx-1 btn btn-primary">Fasilitas Kesehatan</a>
            <a th:href="@{/pasien}" class = "mx-2 btn btn-primary">Pasien</a>

            <div class = "btn-group">
                <button type = "button" class = "btn btn-primary dropdown-toggle" data-toggle = "dropdown">
                    Cari
                    <span class = "caret"></span>
                </button>
                <ul class = "dropdown-menu" role = "menu">
                    <li><a href = "/cari/faskes">Cari Faskes berdasarkan Vaksin</a></li>
                    <li>-----------------</li>
                    <li><a href = "/cari/pasien">Cari Pasien Berdasarkan Jenis Vaksin dan Faskes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
</body>
<nav th:replace="fragments/fragment :: footer"></nav>
</html>